<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center code-shala-header-title">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item-group>
      <ion-item-divider lines="none">
        <ion-label>General</ion-label>
      </ion-item-divider>
    
      <ion-item class="setting-items" lines="none" button>
        <ion-label>Edit Profile</ion-label>
        <ion-icon name="pencil" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>

      <ion-item class="setting-items" lines="none" button>
        <ion-label>Change Password</ion-label>
        <ion-icon name="key" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>
    </ion-item-group>


    <ion-item-group>
      <ion-item-divider>
        <ion-label>Extra</ion-label>
      </ion-item-divider>
    
      <ion-item class="setting-items" lines="none" button>
        <ion-label>Help & FAQ</ion-label>
        <ion-icon name="help-circle" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>

      <ion-item class="setting-items" lines="none" button>
        <ion-label>About Us</ion-label>
        <ion-icon name="information-circle" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>

      <ion-item class="setting-items" lines="none" button>
        <ion-label>Contact Us</ion-label>
        <ion-icon name="call" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>

      <ion-item class="setting-items" lines="full" button>
        <ion-label>Share</ion-label>
        <ion-icon name="share-social" slot="start" size="small" color="primary"></ion-icon>
      </ion-item>
    </ion-item-group>


    <ion-item class="setting-items" lines="full" button>
      <ion-label>Terms & Privacy Policy</ion-label>
      <ion-icon name="alert-circle" slot="start" size="small" color="primary"></ion-icon>
    </ion-item>

    <ion-item class="setting-items" lines="full" button>
      <ion-label>Logout</ion-label>
      <ion-icon name="log-out" slot="start" size="small" color="primary"></ion-icon>
    </ion-item>
    
  </div>
</ion-content>
