.card{
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .part-bg{
        display: flex;
        height: 40px;
        width: auto;
        margin-top: 0px;
        padding : none;
        background: #b377ec;
        
        background: linear-gradient(90deg,#b377ec 0%, #a648ff 100%);
    
        h4{
            color: white;
            margin-top: 10px;
            margin-left: 10px;
        }
        
    }

    .part-bg2{
        display: flex;
        height: 40px;
        width: auto;
        margin-top: 0px;
        padding : none;
        background: #e94444;
        
        background: linear-gradient(90deg,#e94444 0%, #f77538 100%);
    
        h4{
            color: white;
            margin-top: 10px;
            margin-left: 10px;
        }
        
    }
    
   
}

// .card:hover{
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
// }

.points-font{
    font-family: Nunito-Regular;
}
