<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-icon slot="end" name="settings-sharp" class="settings" routerLink="./settings"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div>
    <ion-avatar class="profile">
      <img [src]="profileUrl">
    </ion-avatar><br>
    <ion-label class="ion-text-center">
      <h3 class="name">{{ name  }}</h3>
      <p class="xp">{{ xp }} XP</p><br>
    </ion-label>

    <ion-segment value="badges" (ionChange)="segmentChanged($event)" #segment>
      <ion-segment-button value="badges">Badges</ion-segment-button>
      <ion-segment-button value="history">History</ion-segment-button>
    </ion-segment>
    <!-- <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-thumbnail>
            <ion-img [src]="badges.imageUrl"
            <ion-label>{{ badges.name }}</ion-label>
          </ion-thumbnail>
        </ion-item>
      </ion-card-content>
    </ion-card>
     -->
    
   <div *ngIf="isBadges"> 
      <ion-card *ngFor="let badgeArray of badgeArray">
        <ion-card-content>
          <ion-item>
              <ion-label class="input-wrapper">
                <ion-thumbnail>
                <img width="200" height="200" [src]="badgeArray.badgeImage"/>
              </ion-thumbnail>
              {{ badgeArray.badgeName }}
            </ion-label>
            
          </ion-item>
        </ion-card-content>
      </ion-card>

      <h2 *ngIf="!isBadges"></h2>
      </div>
  </div>
</ion-content>