<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-icon slot="end" name="settings-sharp" class="settings" routerLink="./settings"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div>
    <ion-avatar class="profile">
      <img [src]="profileUrl">
    </ion-avatar><br>
    <ion-label class="ion-text-center">
      <h3 class="name">{{ name  }}</h3>
      <p class="xp">{{ xp }} XP</p><br>
    </ion-label>

    <ion-segment value="badges" (ionChange)="segmentChanged($event)" #segment>
      <ion-segment-button value="badges">Badges</ion-segment-button>
      <ion-segment-button value="history">History</ion-segment-button>
    </ion-segment>
    
   <div *ngIf="isBadges"> 
      <ion-card *ngFor="let badge of badges">
          <ion-item lines="none">
              <ion-label class="input-wrapper">
                <ion-thumbnail>
                <img width="200" height="200" [src]="badge.imageUrl"/>
              </ion-thumbnail>
              <ion-card-header>
                <ion-card-title>
              {{ badge.badge }}
                </ion-card-title>
                <ion-card-subtitle>
                {{ badge.badgeDesc }}
              </ion-card-subtitle>
            </ion-card-header>
            </ion-label>     
          </ion-item>      
      </ion-card>
      </div>
      
      <div *ngIf="!isBadges">
        <ion-card *ngFor="let course of coursesCompleted">
          <ion-item lines="none">
            <ion-label class="input-wrapper">
              <ion-thumbnail>
              <img width="200" height="200" [src]="course.courseImage"/>
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title>
               {{ course.courseName }}
              </ion-card-title>
          </ion-card-header>
          </ion-label>     
        </ion-item>   
        </ion-card>
      </div>

  </div>
</ion-content>