.settings{
    margin-right: 1.242rem;
    font-size: larger;
}


.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9.315rem;
    height: 9.315rem;
    border: 5px solid white;
}

.name{
    font-weight: bold;
    font-size: 1.242rem;
}

ion-segment-button{
    size: 0.5rem;
    text-transform: none;
}

.input-wrapper{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}
