<ion-content id="content">
<div *ngIf="!isCompleted">
  <ion-grid>
    <ion-row>
      <ion-col>
          
        <div class="progress-outer">
          <div class="progress-inner" [style.width]="progress + '%'">
              
          </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-slides pager="false" [options]="slideOpts" #slider>
            <ion-slide *ngFor="let heading of content; index as i">
                <ion-card>
                  
                    <ion-card-header>
                        <ion-card-title>{{ heading.heading }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-img width="200" height="200" [src]="heading.imageUrl"></ion-img>
                        <p>{{ (heading.point+i+1).data }}</p>
                        <ion-button *ngIf="!isEnd" (click)="swipeNext()">Next</ion-button>
                        <ion-button *ngIf="isEnd" (click)="onComplete()">Continue</ion-button>
                      </ion-card-content>
                    </ion-card>
                  </ion-slide>
                 
        </ion-slides>
        
</div>
<div class="content" *ngIf="isCompleted">
  <div class="center-text">
  <h3>
    You have Completed this section.
  </h3>
  </div>
  <br>
  <div class="next-button">
    
  <ion-button (click)="navigateBack()">
    Continue
  </ion-button>
</div>
</div>
 <!-- <ion-card *ngFor="let heading of content" >
    <h3>{{ heading.heading }}</h3>
      {{heading.data}}
  </ion-ca
  rd>  -->
</ion-content>
