.image{
    text-align: center;
    margin-top: 20px;
    .subject-img{
        width:200px;
        height: 200px;
    }
}

ion-content {
    padding: 16px !important;
    ion-icon {
        font-size: 20px;
        margin-right: 12px;
    }
}

.rounded{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Nunito-Bold;
}

.points-font{
    font-size: 14px;
    font-family: Nunito-Regular;
}