<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center code-shala-header-title">Course Detail</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="image">
        <img class="subject-img" [src]="imageUrl" />
    </div>
    <div class="all-post">
        <h5>About Course</h5>
    </div>
    <ion-item lines="none">
        <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
        <ion-label class="points-font"> <span class="rating">{{courseDetails?.ratings}}/5</span>
            <ion-icon class="icon-rating" name="star"></ion-icon> 275,00 Students
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
        <ion-label class="points-font"> Created By {{courseDetails?.authorName}} </ion-label>
    </ion-item>
    <div class="all-post" *ngIf="courseDetails?.description">
        <h5>Description</h5>
    </div>
    <ion-item lines="none" *ngIf="courseDetails?.description">
        <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
        <ion-label class="points-font">{{courseDetails.description}}</ion-label>
    </ion-item>
    <div class="all-post">
        <h5>What you'll Learn</h5>
    </div>
    <div *ngFor="let currentwlearn of wlearn">
        <ion-item lines="none">
            <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
            <ion-label class="points-font">{{ currentwlearn }}</ion-label>
        </ion-item>
    </div>
    <div class="all-post">
        <h5>Requirement</h5>
    </div>
    <div *ngFor="let curRequirement of courseDetails?.requirements">
        <ion-item lines="none">
            <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
            <ion-label class="points-font">{{ curRequirement }}</ion-label>
        </ion-item>
    </div>
    <div class="all-post">
        <h5>Benefits</h5>
    </div>
    <div *ngFor="let benefits of courseDetails?.benefits">
        <ion-item lines="none">
            <ion-icon slot="start" name="chevron-forward-circle-sharp" size="small" color="danger"></ion-icon>
            <ion-label class="points-font">{{ benefits }}</ion-label>
        </ion-item>
    </div>
    <ion-button (click)="enrollCourse()" expand="block" color="tertiary" shape="round" class="rounded">
        <ion-icon name="create-outline" slot="start"></ion-icon>Enroll Now
    </ion-button>
</ion-content>