<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center code-shala-header-title">Course Detail</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="image">
        <img class="subject-img" [src]="imageUrl" />
    </div>
    <div class="all-post">
        <h5>Description</h5>
    </div>
    <ion-item lines="none" *ngIf="courseDetails.atDescription">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-label>{{courseDetails.atDescription}}</ion-label>
    </ion-item>
    <div class="all-post">
        <h5>What you'll Learn</h5>
    </div>
    <div *ngFor="let currentwlearn of wlearn">
        <ion-item lines="none">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>{{ currentwlearn }}</ion-label>
        </ion-item>
    </div>
    <div class="all-post">
        <h5>Requirement</h5>
    </div>
    <div *ngFor="let curRequirement of requirements">
        <ion-item lines="none">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>{{ curRequirement }}</ion-label>
        </ion-item>
    </div>
    <div class="all-post">
        <h5>Benefits</h5>
    </div>
    <div *ngFor="let benefits of benefits">
        <ion-item lines="none">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>{{ benefits }}</ion-label>
        </ion-item>
    </div>
    <ion-button (click)="enrollCourse()" expand="block">Enroll Now</ion-button>
</ion-content>