<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center code-shala-header-title">
            Courses
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment class="segment" mode="ios" value="all-courses" (ionChange)="segmentChanged($event)"
        [(ngModel)]="coursePreference" #segment>
        <ion-segment-button value="all-courses">All Courses</ion-segment-button>
        <ion-segment-button value="studying">Studying</ion-segment-button>
    </ion-segment>
    <div *ngIf="!isStudying">

        <ion-item lines="none" class="technology-title">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            <ion-label class="all-post">
                <h5>
                    Programming Languages
                </h5>
            </ion-label>
        </ion-item>
        <ion-slides #slides [options]="sliderOptions" class="preview-desc-slides">
            <ion-slide (click)="navigateToCourseDetails(item)"
                *ngFor="let item of programmingCourse; index as itemIndex" class="slide">
                <div class="container">
                    <div class="image" [ngClass]="{'course-image' : item.type === 'course'}">
                        <img [src]="item.imageSrc ? item.imageSrc : '../../../assets/images/default-poster.png'">
                    </div>
                    <p class="name">{{item.courseName}}</p>
                    <p *ngIf="item.courseAuthor" class="description">
                        <ion-icon name="code-slash-outline"></ion-icon> by {{item.courseAuthor}}
                    </p>
                    <div class="rating-wrapper">

                        <span *ngIf="item.ratings !== null && item.ratings !== undefined" class="rating"><img
                                src="../../../assets/images/rate.svg">{{item.ratings}}/5</span>
                        <span *ngIf="item.enrolledStudents" class="students">{{item.enrolledStudents}}<ion-icon
                                name="people-outline"></ion-icon></span>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>


        <ion-item lines="none" class="technology-title">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            <ion-label class="all-post">
                <h5>
                    Web Developments
                </h5>
            </ion-label>
        </ion-item>
        <ion-slides #slides [options]="sliderOptions" class="preview-desc-slides">
            <ion-slide (click)="navigateToCourseDetails(item)"
                *ngFor="let item of webDevelopmentCourses; index as itemIndex" class="slide">
                <div class="container">
                    <div class="image" [ngClass]="{'course-image' : item.type === 'course'}">
                        <img [src]="item.imageSrc ? item.imageSrc : '../../../assets/images/default-poster.png'">
                    </div>
                    <p class="name">{{item.courseName}}</p>
                    <p *ngIf="item.courseAuthor" class="description">
                        <ion-icon name="code-slash-outline"></ion-icon> by {{item.courseAuthor}}
                    </p>
                    <div class="rating-wrapper">

                        <span *ngIf="item.ratings !== null && item.ratings !== undefined" class="rating"><img
                                src="../../../assets/images/rate.svg">{{item.ratings}}/5</span>
                        <span *ngIf="item.enrolledStudents" class="students">{{item.enrolledStudents}}<ion-icon
                                name="people-outline"></ion-icon></span>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

    </div>
    <!-- <div *ngIf="isStudying">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let course of enrolledCourses" size="6">
                    <ion-card>
                        <img [src]="course.image" />
                        <ion-card-header>
                            <ion-card-title>
                                {{ course.name }}
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            Progress:- {{course.progress}}
                            {{course.description}}
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->

</ion-content>