.blog-list{
    .post-title{
        font-size: 1rem;
        color: black;
        white-space: normal;
    }
    h5{
        font-size: 0.8rem;
        color: #aaaaaa;
        font-weight: bold;
    }
    .post-credit{
        font-size: 0.65rem;
    }
    ion-icon{
        float: right;
        padding-right: 16px;
    }

    .bookmarked {
        color: darkgoldenrod;
    }

    ion-thumbnail{
        margin: 0 16px 0 0;
        height: 90px;
        width: 90px;
        --border-radius: 20px;
    }

    ion-item {
        margin-bottom: 10px;
    }
}