<ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center code-shala-header-title">Blogs</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list class="blog-list">
          <ion-item *ngFor="let blog of blogsList" >
              <ion-thumbnail (click)="navigateToBlogDetailsPage(blog)" class="post-image" slot="start">
                  <ion-img [src]="blog.image"></ion-img>
                </ion-thumbnail>
             <ion-label>
                 <div (click)="navigateToBlogDetailsPage(blog)">
  
                     <h4 class="post-title">{{blog.postTitle}}</h4>
                     <h6 class="post-description">{{blog.shortDescription}}</h6>
                  </div>
                 <small class="post-credit">
                  Posted by {{ blog.authorName }} &bull; on
                  {{ blog.timePublished | date: "shortDate" }}
                </small>
                <ion-icon (click)="addToBookmark(blog)" [ngClass]="{'bookmarked': blog.isBookmarked}" name="star" slot="end"></ion-icon>
             </ion-label>
          </ion-item>
      </ion-list>
  </ion-content>
  