<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center code-shala-header-title">{{tagName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="all-post" *ngIf="blogsList.length > 0">
        <h5>Latest Posts</h5>
    </div>
    <ion-card *ngFor="let blog of blogsList" class="blog-list">
        <!-- <ion-thumbnail class="post-image" slot="start"> -->
        <img class="blog-image" [src]="blog.image">
        <!-- </ion-thumbnail> -->

        <ion-card-content class="blog-tag">
            <h6>{{blog.tag}}</h6>
        </ion-card-content>
        <ion-card-header class="blog-header">
            <ion-card-title>
                <h4>
                    {{blog.postTitle}}
                </h4>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content class="blog-footer">
            <small>

                Posted by {{ blog.authorName }} &bull; on
                {{ blog.timePublished | date: "shortDate" }}
            </small>
        </ion-card-content>
    </ion-card>
    <div class="not-found" *ngIf="blogsList.length === 0">
        <img src="../../../assets/icon/not-found.svg" alt="">
        <h6>
            No Post avaible
        </h6>
    </div>
</ion-content>