<ion-content>

    <div><img src="assets\icon\codeshala_home.png" /></div>

    <div *ngIf="!isStudying" class="studying">
        <ion-item lines="none" class="technology-title">
            <ion-icon (click)="navigation('studying')" slot="end" name="arrow-forward-outline"></ion-icon>
            <ion-label class="all-post">
                <h5>
                    Studying
                </h5>
            </ion-label>
        </ion-item>
        <app-slider (itemClick)="navigateToCoursePage($event)" [sliderConfiguration]="enrolledCourses"></app-slider>
        <!-- <ion-slides pager="false" [options]="slideOpts">
            <ion-slide *ngFor="let technology of enrolledCourses">
                <ion-card>

                    <ion-img width="200" height="200" [src]="technology.imageUrl"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>{{ technology.atDescription }}</ion-card-subtitle>
                        <ion-card-title>{{ technology.atName }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides> -->
    </div>

    <div class="technologies">
        <ion-item lines="none" class="technology-title">
            <ion-icon (click)="navigation('all-courses')" slot="end" name="arrow-forward-outline"></ion-icon>
            <ion-label *ngIf="!isStudying" class="all-post">
                <h5>
                    Start Learning
                </h5>
            </ion-label>
            <ion-label *ngIf="isStudying" class="all-post">
                <h5>
                    Learn New Skill
                </h5>
            </ion-label>
        </ion-item>
        <app-slider (itemClick)="navigateToCoursePage($event)" [sliderConfiguration]="suggestedCourses"></app-slider>
        <!-- <ion-slides pager="false" [options]="slideOpts">
            <ion-slide *ngFor="let technology of technologies">
                <ion-card>

                    <ion-img width="200" height="200" [src]="technology.imageUrl"></ion-img>
                    <ion-card-header>
                        <ion-card-subtitle>{{ technology.description }}</ion-card-subtitle>
                        <ion-card-title>Madison, WI</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>

                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides> -->
    </div>
</ion-content>