
<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home" size="small"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="courses">
        <ion-label>Courses</ion-label>
        <ion-icon name="library" size="small"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="blogs">
        <ion-label>Blogs</ion-label>
        <ion-icon name="clipboard-sharp" size="small"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person" size="small"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

