.post-details {
    padding: 16px;
    ion-img {
        width: 320px;
        height: 200px;
    }
    .post-title{
        font-size: 1.2rem;
    }
    .post-description{
        font-size: .9rem;
        color: #777777;
    }
}