.blog-list{
    .post-title{
        font-size: 1rem;
        color: black;
        white-space: normal;
    }
    .post-description{
        font-size: 0.8rem;
        color: #aaaaaa;
    }
    .post-credit{
        font-size: 0.65rem;
    }
}