<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons *ngIf="!isClicked" slot="start">
      <ion-back-button defaultHref="home" style="color:blue"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="isClicked" slot="start">
      <div (click)="navigateBack()">back</div>
    </ion-buttons>
    <ion-title *ngIf="!isClicked" class="ion-text-center">New Account</ion-title>
    <ion-title *ngIf="isClicked" class="ion-text-center" style="font-weight: bold;">Create Password</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <p class="ion-text-center heading-title">Start by entering your email address below.</p>
  <div class="codeshala-block">
  <img class="codeshala-icon" src="https://lh3.googleusercontent.com/proxy/Xgs6vd8i9SBuFTeph-P1ptP9AsXa3J07hVkSWJg156FmtmWeW3sMrMk2nXrIDZ_KzULgT2dQuzIxVeCKrp1GsFU_SpPd3yeyF8DJU5Yj0lhRgqWS-IFWj2xgjiNryviRGOh99wmYCqCbifZ1RwGAyoAHsECyNd0"/>
</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)"> 
  
        <ion-card *ngIf="!isClicked" class="input-card">  
          <ion-input type="email" placeholder="Your email" class="rounded-input" 
          ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
        </ion-card>
        <ion-card *ngIf="isClicked" class="input-card"> 
            <ion-label>
              <ion-input 
              [type]="show ? 'text' : 'password'" 
              placeholder="Your password" 
              class="rounded-input" 
              ngModel name="password" required minlength="8" #passwordCtrl="ngModel">
              <ion-button class="show-button" fill="clear" strong="true" 
              (click)="showPassword()">Show</ion-button>
              </ion-input>
              
            </ion-label>
           
        </ion-card>
       
        <div class="already-account">
        <p class="input">Already have an account?</p>
        <ion-button type="button" fill="clear" class="signin" expand="block">SIGN IN</ion-button>
      </div>
      <ion-button *ngIf="isClicked" class="submit" type="submit" expand="block" strong="true"  >Continue
        <ion-icon class="next-icon" name="arrow-forward-circle" slot="end"></ion-icon>
      </ion-button>
        <ion-button *ngIf="!isClicked" class="submit" type="submit" expand="block" strong="true" 
        (click)="onClicked()" [disabled]="!f.valid">Continue
          <ion-icon class="next-icon" name="arrow-forward-circle" slot="end"></ion-icon>
        </ion-button>
     
  </form>
</ion-content>
