<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color:blue"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-weight: bold;">Create Password</ion-title>
  </ion-toolbar>
  <!--<p class="ion-text-center">Start by entering your email address below.</p>-->
</ion-header>
<ion-content>
  <p class="ion-text-center" style="margin-left: 10px; margin-right: 10px;">
    Your password must have at least one symbol & 8 or more characters.</p>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12">
        <ion-card> 
            <ion-label>
              <ion-input 
              [type]="show ? 'text' : 'password'" 
              placeholder="Your password" 
              class="roundedInput" 
              style="margin-top: 10px;"
              ngModel name="password" required minlength="8" #passwordCtrl="ngModel">
              <ion-button fill="clear" strong="true" style="position: absolute; right: 0px;" 
              (click)="showPassword()">Show</ion-button>
              </ion-input>
              
            </ion-label>
            
        </ion-card>
        <ion-item lines="none">
          <ion-label style="text-align:center; color: #eb445a;" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
            Enter a valid password!</ion-label>
          </ion-item>
      </ion-col>
    
    
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <p class="input">Already have an account?</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-button type="button" fill="clear" class="signin" expand="block">SIGN IN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12">
        <ion-button class="submit" type="submit" expand="block" style="height: 60px;" strong="true" 
        [disabled]="!f.valid">Continue
          <ion-icon name="arrow-forward-circle" slot="end" style="position: absolute; right: 10px;" ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>
