/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$font-family-path: 'assets/fonts';

@mixin font-face($familyName, $initial, $variant) {
        @font-face {
            font-family: $familyName;
            src: url('#{$font-family-path}/#{$initial}-#{$variant}.ttf') format('truetype');
        }
}

@include font-face(Nunito-semibold, Nunito, SemiBold);
@include font-face(Nunito-bold, Nunito, Bold);
@include font-face(Nunito-Black, Nunito, Black);
@include font-face(Nunito-BlackItalic, Nunito, BlackItalic);
@include font-face(Nunito-BoldItalic, Nunito, BoldItalic);
@include font-face(Nunito-ExtraBold, Nunito, ExtraBold);
@include font-face(Nunito-ExtraBoldItalic, Nunito, ExtraBoldItalic);
@include font-face(Nunito-ExtraLight, Nunito, ExtraLight);
@include font-face(Nunito-ExtraLightItalic, Nunito, ExtraLightItalic);
@include font-face(Nunito-Italic, Nunito, Italic);
@include font-face(Nunito-Light, Nunito, Light);
@include font-face(Nunito-LightItalic, Nunito, LightItalic);
@include font-face(Nunito-Regular, Nunito, Regular);
@include font-face(Nunito-semiboldItalic, Nunito, SemiBoldItalic);


* {
    font-family: 'Nunito-Regular';
}


ion-toolbar {
    --background: var(--color-black);
    --border-width: 0;
    --border-style: solid;
    --opacity: 1;
    -webkit-font-smoothing: antialiased;
    padding-left: var(--ion-safe-area-left);
    padding-right: var(--ion-safe-area-right);
    display: block;
    position: relative;
    width: 100%;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    contain: content;
    z-index: 10;
    box-sizing: border-box;
}
.code-shala-header-title{
    text-align: center;
		font-size: var(--font-normalText);
		left: 0px;
		top: 0px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 0px;
		padding-bottom: 0px;
		position: absolute;
		width: 100%;
		height: 100%;
		transform: translateZ(0px);
		font-size: 17px;
		font-weight: 600;
		text-align: center;
		box-sizing: border-box;
		pointer-events: none;
}